*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 2vh;
    width: 100vw;
}

.dom-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#graph{
    width: 60vw;
    height: auto;
    border: 2px solid gray;
}